.todo_cover {
   margin: 10px, 5px, 0 px 5px;
   background-color: rgb(255, 65, 17);
   padding-top: 15px;
}
.todo_title {
   color: white;
   text-align: center;
   margin-top: 15px;
}

.todo_form {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;
   padding-bottom: 15px;
}


input {
   border-radius: 0%;
   width: 650px;
   border: none;
   height: 30px;
   padding-left: 10px;
}


button:active {
   background-color: rgb(112, 112, 112);
}

li {
   background-color: rgb(182, 182, 182);
   padding-left: 30px;
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
   list-style: none;
   padding-top: 10px;
   padding-bottom: 10px;
   display: flex;
   justify-content: space-between;
   position: relative;
   min-height: 22px;
   padding-right: 40px;
}

li:nth-child(even) {
   background-color: rgb(114, 114, 114);
}

li > button {
   width: 20px;
   height: 20px;
   margin-right: 15px;
   position: absolute;
   right: 10px;
}

.unactive {
   background-color:rgb(58, 58, 58) !important;
   text-decoration: line-through;
   color: white;
}

button {
   background-color: rgb(204, 204, 204);
   color:rgb(88, 88, 88);
   border-radius: 0px;
   border: none;
   width: 250px;
   height: 32px;
   text-decoration: none !important;
}

.visibility{
   display: none;
   visibility: hidden;
}

li > span {
   position: absolute;
   left: 10px;
}